@tailwind base;

@layer base {
  h5 {
    @apply lg:text-[18pt];
  }
}
@tailwind components;
@tailwind utilities;

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #1b2631;
    border-right-color: #b7c7d7;
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #b7c7d7;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

.embla__viewport {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

body {
  @apply bg-gradient-to-tl from-[#0f0c29] via-[#302b63] to-[#24243e] text-white;
}

.reviews-box {
  overflow: hidden;
  mask: linear-gradient(90deg, transparent, white 3%, white 97%, transparent);
}

.gradient-text {
  @apply mx-auto bg-gradient-to-tr from-[#696eff] to-[#f8acff] bg-clip-text text-transparent;
}

.product-container {
  @apply flex flex-col items-center justify-between space-y-10 lg:space-x-10 text-center w-full lg:flex-row lg:space-y-0;
}

.feature-desc {
  @apply text-xl font-semibold lg:text-3xl;
}

.image-wrapper {
  @apply flex md:size-64 lg:size-72 cursor-pointer;
}

.item-title {
  @apply text-3xl font-semibold w-full;
}

.ficon:hover {
  filter: brightness(0) saturate(100%) invert(67%) sepia(28%) saturate(5662%)
    hue-rotate(213deg) brightness(100%) contrast(97%);
}

.btn-green {
  @apply px-10 py-2 my-0 font-bold tracking-widest rounded-lg uppercase border-2 border-green-600 bg-green-600 hover:bg-green-500 hover:text-white;
}

.btn-orange {
  @apply px-10 py-2 my-0 font-bold tracking-widest rounded-lg uppercase border-2 border-orange-600 bg-orange-600 hover:bg-orange-500 hover:text-white;
}
